@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* font-family: 'Courgette', cursive; */
/* font-family: 'Oswald', sans-serif; */

body {
    font-family: 'Oswald', sans-serif;
}
header {
    background: url(./img/articles/metro/metro-header.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
    padding-bottom: 150px;

}
.topheader div {
    display: none;
}
header a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: #6c6967;
    padding: 0 10px;
}
header .topheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: solid #626464 1px;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) );
}
header .topheader h2 {
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 35px;
}
header .topheader nav .home {
    color: #c5c2c3;
}
header .botheader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 394px;
}
header .botheader img {
    width: 80px;
    padding-top: 60px;
}
header .botheader h1 {
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 50px ;
    height: fit-content;
    padding: 0 50px;
    border-radius: 2px;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) );
    /* padding: 10px 0 10px 0; */
}
header .botheader h2 {
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 33px ;
}

main {
    padding: 50px 8% 50px 8%;
    display: flex;
}
main a {
    text-decoration: none;
}
main img {
    width: 220px;
    margin-right: 25px;
}
main p {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
}
main .intro p {
    padding-left: 35px;
    position: relative;
}
main .intro p::before {
    content: 'G';
    font-size: 70px;
    position: absolute;
    color: #AAAAAA;
    font-weight: 500;
    left: -5px;
}
main h3 {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
main .leftmain {
    width: 82%;
    margin-right: 40px;
}
main h4 {
    font-family: 'Courgette', cursive;
    font-size: 25px;
    margin-bottom: 20px;
}
main .conclusion p {
    margin-bottom: 40px
}
main .about {
    border-top: solid #F1F1F1 2px;
    border-bottom: solid #F1F1F1 2px;
    display: flex;
    justify-content: center;
    padding: 40px 15% 40px 20%;
    align-items: center;
}
main .about img {
    border-radius: 50%;
}
main .commentform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
main .commentform div {
    width: 50%;
}
main .commentform h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
main .commentform .form {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: solid #dbdfe4 2px;
    border-radius: 3px;
}
main .comment {
    padding: 0 10%;
}
main .comment img {
    width: 80px;
    height: 80px;
}
main .comment1 {
    display: flex;
}
main .comment2 {
    display: flex;
    margin-left: 105px;
}
main .comment2 img {
    opacity: 0.5;
}
main aside {
    width: 18%;
}
main aside form {
    display: flex;
    flex-direction: column;
}
main h5{
    font-family: 'Courgette', cursive;
    font-size: 15px;
    margin: 15px 0 10px 0   ;
}
.search {
    height: 30px;
    font-family: 'Oswald', sans-serif;
    color: #788087;
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
    border: 1px solid;
    border-color: #d3d8de;
    border-radius: 3px;
}
.submit {
    height: 40px;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
}
.submit:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}
main aside img {
    width: 20px;
    margin: 15px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 60px 0 70px 0;
}
footer nav {
    display: flex;
    flex-direction: column;
}
footer a {
    color: #c4c4c4;
    font-weight: 300;
    line-height: 25px;
}
footer h3 {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    margin-bottom: 15px;
}
footer h4 {
    font-family: 'Courgette', cursive;
    font-size: 15px;
    margin-bottom: 10px;
}
.sharefooter {
    margin-top: 30px;
}
footer .search {
    margin-right: 0;
}
.searchfield2 {
    display: flex;
}
footer .submit {
    color: white;
    font-weight: 400;
    height: 34px;
    margin-left: 0;
    cursor: pointer;
}
footer .submit:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}
footer .icons a{
    text-decoration: none;
}
footer img {
    width: 15px;
    margin: 8px;
    filter: invert();
}



@media (max-width: 992px) {
    .topheader div {
        display: block;
    }
    header {
        background-size: 130%;
        background-position: center;
        padding-bottom: 150px;
    }
    main {
        padding: 50px 15px 50px 15px;
        display: block;
    }
    main .leftmain {
        margin: 0;
        width: auto;
    }
    aside {
        display: none;
    }
    footer {
        display: block;
        padding-left: 15%;
    }
}



@media (max-width: 768px) {
    header {
        background-size: 300%;
        background-position: center;
    }
    main {
        padding: 50px 15px 50px 15px;
        display: block;
    }
    section.leftmain {
        width: auto;
    }
    main .about {
        padding: 40px 0;
    }
    main .comment{
        padding: 0;
        margin-right: 15px;
    }
    main .commentform {
        display: block;
    }
    main .commentform div {
        width: auto;
    }
    main .commentform div .form {
        width: 100%;
        padding-right: 0;
    }
    aside {
        display: none;
    }
    footer {
        display: block;
        padding-left: 15px;
    }
}